<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arpo's Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div th:replace="~{components/nav-user :: nav}"></div><br>
    <div class="container mt-5">
        <h1 class="mb-4">Carrito de Compras</h1>
        <div class="row">
            <div class="col-md-8">

                <div th:each="item : ${cart}" class="card mb-3">


                    <div class="row no-gutters">
                        <div class="col-md-4 my-4">
                            <img class="card-img" th:src="${item.product.urlImagen}" alt="">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${item.nombre}"></h5>
                                <p class="card-text">
                                    Precio: $<span th:text="${item.precio}"></span>
                                </p>
                                <p class="card-text">
                                    Cantidad: <span th:text="${item.cantidad}"></span>
                                </p>
									
                                <p class="card-text" th:text="${item.total}"></p>
                               
									
                                <a th:href="@{/cart/delete/cart/{id}(id=${item.product.idProduct}) }" class="btn btn-danger">
									<img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/7347/7347206.png" 
									style='width: 25px'></img>
									Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Resumen del Carrito</h5>
                        <ul class="list-group list-group-flush">
							<div th:if="${order != null}">
						    	<!-- Acceder a la propiedad total solo si order no es nulo -->
						    	<li class="list-group-item"><b>Total:</b> <span th:text="${order.total}"></span></li>
							</div>
        
							<div th:unless="${order != null}">
							    <li class="list-group-item"><p><b>Total:</b> 0.0</p></li>
							</div>
                        </ul>
                        
                        
						
                        <a th:href="@{/cart/order}" class="btn btn-primary mt-3">Realizar Compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>