<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arpo's Shop</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="components/nav-admin :: nav"></div>
    <section><br>
		<div class="container text-center">
        	<h1 class="text-center mb-4">Listado de categorias</h1><hr><br>
        	<table class="table table-striped table-bordered">
            	<thead class="thead-dark">
                	<tr>
	                    <th>Id categoria auto</th>
	                    <th>Nombre Categoria</th>              
	                    <th>Editar</th>
	                    <th>Eliminar</th>      
                	</tr>
            	</thead>
            	<tbody>
                	<tr th:each="category : ${ListaDeCategorias}">
	                    <td th:text="${category.idCategoryProduct}"></td>
	                    <td th:text="${category.nameCategory}"></td>
	                    <td><a th:href="@{/category/admin/updateCategory/{idCategoryProduct}(idCategoryProduct=${category.idCategoryProduct})}"
					       class="btn btn-primary">
					       <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1177/1177434.png" 
									style='width: 30px'></img>
					        </a>
					    </td>
						<td><a th:href="@{/category/admin/deleteCategory/{idCategoryProduct}(idCategoryProduct=${category.idCategoryProduct})}"
						       class="btn btn-danger">
						    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/7347/7347206.png" 
									style='width: 30px'></img>   
						    </a>
						</td>

	                    
                	</tr>
            	</tbody>
        	</table>
    	</div>
	</section><br>

	<div th:replace="components/footer :: footer"></div>
	</body>
</html>